<div style="float: left; width: 19%; height: 90%; background-color: grey; color: lightgrey; font-size: 1.4em; text-align: center;">
    Filemanager<br>
    <a href="remove-all" style="color: lightgrey"><u>Remove data about files from array</u></a>
</div>
<div style="float: left; width: 80%; font-color: lightgrey; font-size: 1.3em; margin-left: 10px; margin-top: -10px;">
    <table>
        <style>
            table {
                border-spacing: 0;
                font-size: 1.3em;
                width: 100%;
                text-align: center;
            }
            td {
                min-width: 50px;
            }
        </style>
        <thead style="background-color: lightblue;">
            <tr>
                <th>id</th>
                <th>obraz</th>
                <th>name</th>
                <th>size</th>
                <th>type</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            {{#each FILES}}
            <tr>
                <td>{{id}}</td>
                <td><img src="{{img}}" width="20" height="20"></td>
                <td>{{name}}</td>
                <td>{{size}}</td>
                <td>{{type}}</td>
                <td><a href="/delete?id={{id}}">DELETE</a></td>
                <td><a href="/info?id={{id}}">INFO</a></td>
                <td><a href="/download?id={{id}}" download="{{name}}">DOWNLOAD</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>